<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Automation Report | Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: 'class',
        theme: {
          extend: {
            fontFamily: {
              comicSans: ['Comic Sans MS', 'cursive', 'sans-serif'],
            },
            colors: {
              'sky-blue': {
                  '50': '#ebfdff',
                  '100': '#cdf7ff',
                  '200': '#a1ecff',
                  '300': '#55daff',
                  '400': '#1ac3f6',
                  '500': '#00a6dc',
                  '600': '#0182b9',
                  '700': '#096995',
                  '800': '#115579',
                  '900': '#134766',
                  '950': '#062e46',
              },
              'alice-blue': {
                  '50': '#f0f8ff',
                  '100': '#e0f0fe',
                  '200': '#bae2fd',
                  '300': '#7dcbfc',
                  '400': '#38b0f8',
                  '500': '#0e96e9',
                  '600': '#0277c7',
                  '700': '#035ea1',
                  '800': '#075185',
                  '900': '#0c436e',
                  '950': '#082b49',
              },
              'spring-green': {
                  '50': '#eefff1',
                  '100': '#d7ffdf',
                  '200': '#b2ffc2',
                  '300': '#55ff7a',
                  '400': '#33f55e',
                  '500': '#09de38',
                  '600': '#01b82a',
                  '700': '#059025',
                  '800': '#0a7122',
                  '900': '#0a5d1f',
                  '950': '#00340d',
              },
              'carnation': {
                  '50': '#fff1f1',
                  '100': '#ffe1e1',
                  '200': '#ffc7c7',
                  '300': '#ffa0a0',
                  '400': '#ff5555',
                  '500': '#f83b3b',
                  '600': '#e51d1d',
                  '700': '#c11414',
                  '800': '#a01414',
                  '900': '#841818',
                  '950': '#480707',
              },
            }
          }
        }
      }
    </script>
    <style>
      .sidebar-collapsed {
        width: 80px !important;
      }
    
      .sidebar-collapsed .menu p,
      .sidebar-collapsed .title {
        display: none;
      }
    
      .sidebar-collapsed .logo {
        height: 40px;
      }

      .sidebar-collapsed .logo:hover{
        background-color: rgba(255, 255, 255, 0.257);
        height: 60px;
      }

      .sidebar-collapsed .hamburger {
        display: none;
      }

      .dashboard-collapsed {
        grid-template-columns: 80px 1fr !important;
      }
    </style>
  </head>
  <body class="h-screen font-comicSans bg-alice-blue-50 text-gray-800">
    <div class="grid grid-cols-[250px_1fr] grid-rows-[1fr] h-full transition-all duration-300 ease-in-out" id="dashboard">
      <!-- Sidebar -->
      <aside id="sidebar" class="bg-sky-blue-300 text-white p-4 flex flex-col justify-between transition-all duration-300 ease-in-out w-[250px] md:block">
        <div class="flex justify-end">
          <button onclick="sidebarCollapsed()" class="hamburger fixed text-white p-2 hover:bg-white/20 rounded-md transition-all duration-300">
            <img src="../../assets/menus.png" alt="menus_icon" class="h-7">
          </button>
        </div>
        <div class="flex flex-col items-center space-y-2">
          <img src="../../assets/logo.png" alt="logo" onclick="sidebarCollapsed()" class="h-12 logo rounded-md transition-all duration-300" />
          <h2 class="text-lg font-bold title transition-all duration-300">Automation Report</h2>
        </div>
      
        <ul class="space-y-1 mt-20 menu transition-all duration-300">
          <li class="bg-white/20 p-2 rounded-lg">
            <a href="index.html" class="block">
              <div class="flex items-center gap-3">
                <img src="../../assets/dashboard_icon.png" alt="dashboard_icon" class="h-6">
                <p class="text-md">Dashboard</p>
              </div>
            </a>
          </li>
          <li class="p-2 hover:bg-white/20 rounded-lg">
            <a href="history.html" class="block">
              <div class="flex items-center gap-3">
                <img src="../../assets/history_icon.png" alt="dashboard_icon" class="h-6">
                <p class="text-md">History</p>
              </div>
            </a>
          </li>
          <li class="p-2 hover:bg-white/20 rounded-lg">
            <a href="report.html" class="block">
              <div class="flex items-center gap-3">
                <img src="../../assets/report_icon.png" alt="dashboard_icon" class="h-6">
                <p class="text-md">Report</p>
              </div>
            </a>
          </li>
        </ul>
      </aside>

      <!-- Main Content -->
      <main class="bg-alice-blue-50 p-6 overflow-auto transition-all duration-300">
        <!-- Main Grid -->
        <div class="grid gap-6">
          <!-- Summary Grid -->
          <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-4 gap-6">
            <!-- Card 1 -->
            <div class="bg-blue-500 rounded-xl p-4 shadow-lg shadow-blue-500/30">
              <div class="flex items-center justify-between">
                <div>
                  <h2 class="text-white text-xl font-bold mb-2">Total Cases</h2>
                  <p class="text-white text-md font-semibold" id="total_cases">0</p>
                </div>
                <div>
                  <img src="../../assets/total_icon.png" alt="total_icon" class="h-14">
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="bg-spring-green-300 rounded-xl p-4 shadow-lg shadow-spring-green-400/30">
              <div class="flex items-center justify-between">
                <div>
                  <h2 class="text-white text-xl font-bold mb-2">Passed</h2>
                  <p class="text-white text-md font-semibold" id="total_passed">0</p>
                </div>
                <div>
                  <img src="../../assets/passed_icon.png" alt="passed_icon" class="h-14">
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="bg-carnation-400 rounded-xl p-4 shadow-lg shadow-carnation-500/30">
              <div class="flex items-center justify-between">
                <div>
                  <h2 class="text-white text-xl font-bold mb-2">Failed</h2>
                  <p class="text-white text-md font-semibold" id="total_failed">0</p>
                </div>
                <div>
                  <img src="../../assets/failed_icon.png" alt="failed_icon" class="h-14">
                </div>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="bg-yellow-300 rounded-xl p-4 shadow-lg shadow-yellow-500/30">
              <div class="flex items-center justify-between">
                <div>
                  <h2 class="text-white text-xl font-bold mb-2">Skipped</h2>
                  <p class="text-white text-md font-semibold" id="total_skipped">0</p>
                </div>
                <div>
                  <img src="../../assets/skipped_icon.png" alt="skipped_icon" class="h-14">
                </div>
              </div>
            </div>
          </div>

          <!-- Other Grid -->
          <div class="grid grid-cols-12 grid-rows-[350px_350px] gap-6">
            <!-- Pie Chart Card -->
            <div class="bg-alice-blue-50 rounded-xl p-4 col-span-3 shadow-lg shadow-gray-500/20">
              <h2 class="text-black text-lg font-bold mb-4">Total Cases per Modul</h2>
              <div class="h-64">
                <canvas id="pieChart"></canvas>
              </div>
            </div>
          
            <!-- Bar Chart Card -->
            <div class="bg-alice-blue-50 rounded-xl p-4 col-span-6 shadow-lg shadow-gray-500/20">
              <h2 class="text-black text-lg font-bold mb-4">Cases Status per Modul</h2>
              <div class="h-64">
                <canvas id="barChart"></canvas>
              </div>
            </div>

            <div class="bg-alice-blue-50 rounded-xl p-4 col-span-3 flex flex-col justify-between shadow-lg shadow-gray-500/20">
              <div class="flex justify-between">
                <h2 class="text-black text-lg font-bold mb-2">🧪 Last Run Summary</h2>
                <button onclick="viewDetail()" class="bg-sky-blue-500 hover:bg-sky-blue-700 text-white py-1 px-3 rounded font-bold">Detail</button>
              </div>
              <div class="h-full flex flex-col justify-evenly">
                <div class="border-0 border-b-2 border-b-gray-300">
                  <strong class="text-black">Last Run Date :</strong>
                  <p class="text-cyan-500" id="last_run_date">01/01/0001, 00:00.</p>
                </div>
                <div class="border-0 border-b-2 border-b-gray-300">
                  <strong class="text-black">Execution Time :</strong>
                  <p class="text-cyan-500" id="last_run_duration">0s</p>
                </div>
                <div class="border-0 border-b-2 border-b-gray-300">
                  <strong class="text-black">Environtment :</strong>
                  <p class="text-cyan-500" id="last_run_environment">-</p>
                </div>
                <div class="border-0 border-b-2 border-b-gray-300">
                  <strong class="text-black">Test ID :</strong>
                  <p class="text-cyan-500" id="last_run_id">#0</p>
                </div>
              </div>
            </div>
          
            <!-- Line Chart Card -->
            <div class="bg-alice-blue-50 rounded-xl p-4 col-span-6 shadow-lg shadow-gray-500/20">
              <h2 class="text-black text-lg font-bold mb-4">Progress Harian/Mingguan</h2>
              <div class="h-64">
                <canvas id="lineChart"></canvas>
              </div>
            </div>

            <!-- Bar Chart Card -->
            <div class="bg-alice-blue-50 rounded-xl p-4 col-span-6 shadow-lg shadow-gray-500/20">
              <h2 class="text-black text-lg font-bold mb-4">Cases Status per Environtment</h2>
              <div class="overflow-y-auto pr-2" style="height: 400px; max-height: 275px;">
                <div class="subbox">
                  <canvas id="bar1Chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Footer -->
      <footer class="fixed bottom-0 w-full bg-gray-100 text-center text-sm text-gray-500 p-2 border-2 border-t-sky-blue-300 z-10">
        &copy; <span class="font-bold">2025 Fikrah Inc.</span>
      </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      // Sidebar toggle
      const sidebar = document.getElementById("sidebar");
      const dashboard = document.getElementById("dashboard");

      function sidebarCollapsed() {
        sidebar.classList.toggle("sidebar-collapsed");
        dashboard.classList.toggle("dashboard-collapsed");
      }
    </script>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
